.banner{
    position: relative;
}
.banner__imagen{
    width: 100%;
    height: 22rem;
    padding: 2rem;
    background-image: url(/assets/svg/banner.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.banner__texto{
    width: 71rem;
    height: 10.625rem;
    gap: 1rem;
    top: 40%;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 40%;
}
.banner__titulo{
    color: var(--preto-branco, #FFF);
    font-family: Raleway;
    font-style: normal;
    font-size: 3.25rem;
    font-weight: 700;
    line-height: normal;
}
.banner__parrafo{
    color: var(--preto-branco, #FFF);
    font-family: Raleway;
    font-style: normal;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: normal;
}
.banner__button{
    width: 8.0625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--azul-100, #2A7AE4);
    color: var(--preto-branco, #FFF);
    font-family: Raleway;
    font-style: normal;
    border: none;
    cursor: pointer;  
    padding: 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
}

@media screen and (min-width : 0px) {
    .banner__imagen{
        width: 100%;
        height: 12rem;
        padding: 1rem;
    }
    .banner__texto{
        width: 20.5rem;
        height: 6.125rem;
        gap: 0.5rem;
        top: 40%;
    }
    .banner__titulo{
        font-size: 1.375rem;
        font-weight: 700;
        line-height: normal;
    }
    .banner__parrafo{
        font-size: 0.875rem;
        font-weight: 600;
        line-height: normal;
    }
    .banner__button{
        width: 7.735rem;
        padding: 0.75rem 1rem;
        font-size: 0.875rem;
        font-weight: 600;
        line-height: normal;
    }
}

@media screen and (min-width : 480px) {
    .banner__imagen{
        width: 100%;
        height: 22rem;
        padding: 2rem;
    }
    .banner__texto{
        width: 44rem;
        height: 9.9375rem;
        gap: 1rem;
        top: 40%;
    }
    .banner__titulo{
        font-size: 3.25rem;
        font-weight: 700;
        line-height: normal;
    }
    .banner__parrafo{
        font-size: 1.375rem;
        font-weight: 700;
        line-height: normal;
    }
    .banner__button{
        width: 7.735rem;
        padding: 0.75rem 1rem;
        font-size: 0.875rem;
        font-weight: 600;
        line-height: normal;
    }
}

@media screen and (min-width : 960px) {
    .banner__imagen{
        width: 100%;
        height: 22rem;
        padding: 2rem;
    }
    .banner__texto{
        width: 71rem;
        height: 10.625rem;
        gap: 1rem;
        top: 40%;
    }
    .banner__titulo{
        font-size: 3.25rem;
        font-weight: 700;
        line-height: normal;
    }
    .banner__parrafo{
        font-size: 1.375rem;
        font-weight: 700;
        line-height: normal;
    }
    .banner__button{
        width: 8.0625rem;
        padding: 1rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: normal;
    }
}