.footer{
    width: 100%;
    height: 23rem;
    padding: 4rem;
    background: var(--azul-10, #EAF2FD);
}
.footer__container{
    width: 71rem;
    height: auto;
    display: flex;
    gap: 7rem;
}
.footer__logo__links{
    display: flex;
    align-items: start;
    gap: 7rem;
}
.footer__links{
    display: flex;
    width: 11rem;
    height: 14rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}
.footer__link{
    list-style: none;
}
.footer__link a{
    text-decoration: none;
    color: var(--preto-100, #464646);
    font-family: Raleway;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.footer__formulario{
    width: 35rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.footer_formulario__tittle{
    color: var(--preto-100, #464646);
    font-family: Raleway;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.footer__formulario__input{
    width: 100%;
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4375rem;
    border: none;
    outline: none;
}
.footer__formulario__text{
    min-width: 35rem;
    height: 5.125rem;
    border: none;
    outline: none;
    resize: none;
}
.footer__formulario__button{
    display: flex;
    width: 11.375rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--azul-100, #2A7AE4);
    color: #FFFFFF;
    font-family: Raleway;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #2A7AE4;
    cursor: pointer;
    margin-bottom: 1rem;
}


@media screen and (min-width : 0) {
    .footer{
        width: 100%;
        height: auto;
        padding: 1rem;
    }
    .footer__container{
        width: 20.5rem;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .footer__logo__links{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .footer__links{
        display: flex;
        width: 11rem;
        height: 14rem;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .footer__formulario{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        overflow: hidden;
    }
    /* .rodapie{
        width: 100%;
        height: auto;
        padding: 2rem;
        background-color: #FFFFFF;
    }
    .rodapie__texto{
        width: 100%;
        height: 2.375rem;
        color: var(--preto-100, #464646);
        text-align: center;
        font-family: Raleway;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 0 auto;
    } */
}