.productos{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-bottom: 4rem;
    gap: 4rem;
}
.productos__container{
    width: 71rem;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.productos__header{
    width: 70.8125rem;
    height: 2.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.productos__header-title{
    color: var(--preto-100, #464646);
    font-family: Raleway;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.productos__header-button{
    width: 6.0625rem;
    height: 1.5rem;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
}
.product-text-button{
    display: flex;
    width: 4.0625rem;
    height: 1.1875rem;
    color: var(--azul-100, #2A7AE4);
    font-family: Raleway;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    background-color: #F5F5F5;
    text-decoration: none;
}

.product__flex{
    margin-top: 1rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
}
.product__container{
    width: 11rem;
    height: 15.75rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    overflow: hidden;
}
.product__text{
    color: var(--preto-100, #464646);
    font-family: Raleway;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.product__price{
    color: var(--preto-100, #464646);
    font-family: Raleway;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.product__button{
    color: var(--azul-100, #2A7AE4);
    font-family: Raleway;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    background-color: white;
}

@media screen and (min-width : 0) {
    .productos{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin-bottom: 1rem;
        gap: 4rem;
    }
    .productos__container{
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .productos__header{
        width: 100%;
        height: 1.625rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
    .productos__header-title{
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .productos__header-button{
        width: 6.0625rem;
        height: 1.5rem;
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;
        align-items: center; 
    }
    .product__flex{ 
        display: grid;
        grid-template-rows: 3fr;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin: 1rem auto;
    }
}

@media screen and (min-width : 480px) {
    .productos{
        padding: 1rem;
    }
    .productos__header{
        width: 100%;
        height: 1.625rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
    .product__flex{ 
        max-width: 44rem;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 1rem;
        margin: 1rem auto;
        /* padding-left: 0.5rem; */
        overflow: hidden;
    }
}

@media screen and (min-width : 960px) {
    .productos{
        padding: 2rem 1rem;
        margin: 0;
    }
    .productos__header{
        width: 95%;
        height: 1.625rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
    .product__flex{ 
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 1rem;
        margin: 1rem auto;
        /* padding-left: 0.5rem; */
        overflow: hidden;   
    }
}

